body{
	margin: 0;
	padding: 0;
	font-family: 'Orbitron', sans-serif;
}

.navbar-inverse{
	background: transparent;
	border: none;
	border-radius: 0;
}

.navbar-toggle{
	border: none;
}

.navbar-toggle:hover{
	color: #20252d;
}

.navbar-header .navbar-brand{
	color: #20252d;
	font-size: 2.2rem;
	font-weight: bold;
}

.navbar-header .navbar-brand:hover{
	color: green;
}

#subnavbar li a{
	color: white;
	font-size: 2.0rem;
	font-weight: 700;
}

#subnavbar li a:hover{
	color: #20252d;
}

.navbar.scrolled{
	background: rgba(128, 0, 0, 0.8);
	transition: background 1s;
}

#img-container{
}

#jumbotronContainer{
	background: #FF7F50;
	padding-top: 80px;
	margin-bottom: 0;
	font-weight: 100;
}

.img-circle{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 100%;
  	height: 100%;
}

#text-container{
	color: white;
	font-weight: bold;
	text-align: center;
}

#name-style{
	margin: 0;
	font-size: 3.5vw;
	line-height: 2.0;
	letter-spacing: 0.1875em;
}


#name-student{
	margin: 0;
	font-size: 1.5vw;
	line-height: 1.6;
	letter-spacing: 0.0625em;
}

.career-container{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	background: #20252d;
	color: white;
}

#objective-container{
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5em;
	line-height: 1.6;
	letter-spacing: 0.0625em;
	color: black;
	padding: 20px 0;
}

#sub-heading{
	margin: 0;
	font-size: 1.5em;
	line-height: 1.6;
	letter-spacing: 0.125em;
	font-weight: bold;
}

.thumbnail{
	background: #FF7F50;
	border: 1px solid #20252d;
}

.thumbnail p, h3{
	font-family: 'Ubuntu', sans-serif;
	color: white;
}

#skillscontainer{
	margin-top: 25px;
}

#footercontainer{
	margin-top: 25px;
	margin-bottom: 0;
	padding: 0;
}

#footercontainer .jumbotron{
	margin-bottom: 0;
	border-radius: 0;
	background: #20252d;
	color: white;
}

.tab, .tabcontent{
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.6;
	letter-spacing: 0.0625em;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ffa500;
  /*background-color: #f1f1f1;*/
  width: 35%;
  /*height: 300px;*/
  border-radius: 5px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 5px 2px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 1.2em;
  color: #ffa500;
}

/* Change background color of buttons on hover */
.tab button:hover {
  border-radius: 5px;
  background-color: #ffa500;
  color: black;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ffa500;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 12px 12px;
  /*border: 1px solid #ccc;*/
  width: 60%;
  border-left: none;
  /*height: 300px;*/
  display: none;
  background-color: #ffa500;
  border-radius: 5px;
  font-size: 1.2em;
}

/* Clear floats after the tab 
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}*/

@media only screen and (max-width: 600px){
	#name-style{
		font-size: 1.3em;
	}

	.img-circle{
	  	width: 200%;
	  	height: 200%;
	}

	#name-student{
		font-size: 0.6em;
	}

	#objective-container{
		font-size: 1.0em;
	}

	#sub-heading{
		font-size: 1.0em;
	}
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.caption{
		height: 244px;
	}
}



