body{
	margin: 0;
	padding: 0;
	font-family: 'Orbitron', sans-serif;
}

.navbar-inverse{
	background: transparent;
	border: none;
	border-radius: 0;
}

.navbar-toggle{
	border: none;
}

.navbar-toggle:hover{
	color: #20252d;
}

.navbar-header .navbar-brand{
	color: #20252d;
	font-size: 2.2rem;
	font-weight: bold;
}

.navbar-header .navbar-brand:hover{
	color: green;
}

#subnavbar li a{
	color: white;
	font-size: 2.0rem;
	font-weight: 700;
}

#subnavbar li a:hover{
	color: #20252d;
}

.navbar.scrolled{
	background: rgba(128, 0, 0, 0.8);
	transition: background 1s;
}

#img-container{
}

#jumbotronContainer{
	background: #FF7F50;
	padding-top: 80px;
	margin-bottom: 0;
	font-weight: 100;
}

.img-circle{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 100%;
  	height: 100%;
}

#text-container{
	color: white;
	font-weight: bold;
	text-align: center;
}

#name-style{
	margin: 0;
	font-size: 3.5vw;
	line-height: 2.0;
	letter-spacing: 0.1875em;
}


#name-student{
	margin: 0;
	font-size: 1.5vw;
	line-height: 1.6;
	letter-spacing: 0.0625em;
}

.career-container{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	background: #20252d;
	color: white;
}

#objective-container{
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5em;
	line-height: 1.6;
	letter-spacing: 0.0625em;
	color: black;
	padding: 20px 0;
}

#sub-heading{
	margin: 0;
	font-size: 1.5em;
	line-height: 1.6;
	letter-spacing: 0.125em;
	font-weight: bold;
}

.thumbnail{
	background: #FF7F50;
	border: 1px solid #20252d;
}

.thumbnail p, h3{
	font-family: 'Ubuntu', sans-serif;
	color: white;
}

#skillscontainer{
	margin-top: 25px;
}

@media only screen and (max-width: 600px){
	#name-style{
		font-size: 1.3em;
	}

	.img-circle{
	  	width: 200%;
	  	height: 200%;
	}

	#name-student{
		font-size: 0.6em;
	}

	#objective-container{
		font-size: 1.0em;
	}

	#sub-heading{
		font-size: 1.0em;
	}
}

